body {
    margin: 0 auto;
    border: 1px solid;
}
/*common styles*/
.header{
    margin-top: 10%;
    text-align: center;
}
.header-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
    text-transform: uppercase;
}
.header-description{
    margin: 10px 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    color: #5e5f5f;
    font-size: 18px;
    text-transform: uppercase;
}
/*common styles*/

/*section-header*/
.section-header {
    display: block;
    overflow: hidden;
    min-height: 500px;
    background-color: #eff0f2;
    font-family: 'Montserrat', sans-serif;
}
.section-header-logo {
    width: 113px;
    height: 46px;
    margin-top: 65px;
    margin-left: 10%;
    border: 6px solid;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header-logo-text {
    text-transform: uppercase;
    font-size: 20px;
}
.section-header-logo-letter {
    color: #b2f2ee;
    font-size: 130%;
}
.section-header-content-center{
    text-align: center;
}
.section-header-description {
    font-weight: 700;
    margin: 13% 15px 0;
}
.section-header-description-text {
    color: #505050;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 5px 5px #cbccce;
}
.section-header-description-font {
    background-color: #b2f2ee;
    padding: 0 10px;
    margin-left: -10px;
    text-shadow: 3px 5px 5px #99d0cc;
}
.section-header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9% auto 0;
}
.section-header-contact button{
    text-transform: uppercase;
    width: 232px;
    height: 53px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    transition-duration: 200ms;
}
.section-header-contact button:hover{
    cursor: pointer;
    background-color: #21ecde;
}
.section-header-image-glass {
    margin-left: 74%;
    margin-top: -2.5%;
    margin-bottom: 10%;
}
/*section-header ends*/



/*section-about*/
.section-about{
    background-color: #f8fafa;
    overflow: hidden;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
}
.section-about-content-center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.section-about-content{
    margin: 11% 0;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 9%;
    row-gap: 50px;
}
@media screen and (max-width: 1291px){
    .section-about-content {
        width: 90%;
    }
}
.section-about-content-image {
    min-width: 38%;
}
@media screen and (min-width: 1445px){
    .section-about-content-image{
        min-width:auto;
    }
}
.section-about-content-image img{
    max-width: 100%;
    box-shadow: 1px -2px 20px #cccccc;
}
.section-about-content-info{}
.section-about-content-title{
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    color: #3e3f3f;
}
.section-about-content-text{
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6e6f6f;
}
/*section-about ends*/

/*section-works*/
.section-works{
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 1170px;
}
.section-works-content-center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.section-works-content{
    margin: 9% 0;
    width: 80%;
    min-height: 732px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:14px;
}

@media screen and (max-width: 944px){
    .section-works-content {
        width: 90%;
    }
}
.section-works-content a{
    font-size: 0;
    min-width:32.1%;
    transition: 400ms;
}
.section-works-content a:hover{
    transform: scale(1.03);
    cursor: pointer;
}
@media screen and (min-width: 1445px){
    .section-works-content a{
        min-width:auto;
    }
}
.section-works-content img{
    max-width: 100%;
}
/*section-works ends*/


/*section-team*/
.section-team{
    overflow: hidden;
    background-color: #f9fbfb;
    min-height: 1360px;
    display: flex;
    flex-direction: column;
}
.section-team-header{
    text-align: center;
    margin-top: 8%;
}
.section-team-content-center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.section-team-content{
    margin: 10% 0;
    width: 80%;
    min-height: 893px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 14px;
    column-gap: 14px;
}
@media screen and (max-width: 944px) {
    .section-team-content{
        width: 90%;
    }
}
.worker-item{
    min-width: 32.5%;
    cursor: pointer;
    transition: 500ms;
    font-size: 0;
}
.team-worker-info{
    position: absolute;
    padding: 10%;
    box-sizing: border-box;
    background-color: #21ecde;
    border-radius: 3%;
    min-height: 55%;
    left: 5%;
    right: 5%;
    bottom: 3%;
    opacity: 0;
    visibility: hidden;
    transition: 500ms;

}
/*@media screen and (max-width: 392px){*/
/*    .team-worker-info{*/
/*        height: 60%;*/
/*    }*/
/*}*/
.team-worker-info::before, .team-worker-info::after {
    content: '';
    position: absolute;
    left: 25px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #21ecde;
}
.team-worker-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #2a3131;
    text-transform: uppercase;
}
.team-worker-name span{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    color: #767776;
}
.team-worker-description{
    margin-top: 8%;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
    color: #16312f;
}
.team-worker-links{
    margin-top: 12%;
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}
.team-worker-links img{
    height: 13px;
}
.worker-item:hover .team-worker-info{
    visibility: visible;
    opacity: 1;
}
.worker-item:hover{
    transform: scale(1.01);
}
@media screen and (min-width: 1445px){
    .worker-item{
        min-width:auto;
    }
}
.worker-item img{
    max-width: 100%;
}
/*section-team ends*/

/*section-contact*/
.section-contact{
     background: url("bg-image.png") no-repeat, #f9fbfb 50%;
     background-size: cover;
     min-height: 705px;
     display: flex;
     flex-direction: column;
 }
.section-contact-content-center{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.section-contact-content{
    margin: 8.5% 0;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
}
@media screen and (max-width: 839px){
    .section-contact-content{
        width: 90%;
    }
}
.section-contact-forms{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    width: 615px;
    height: 460px;
    background-color: rgba(2, 22, 35,0.7);
}
.section-contact-info{
    box-sizing: border-box;
    padding: 3% 2%;
    width: 500px;
    height: 460px;
    background-color: rgba(2, 22, 35,0.7);
}
.section-contact-info address{
    color: #b1babf;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
#map{
    width: 100%;
    margin: 20px 0;
    height: 53%;
    opacity: 1;
}
.section-contact-forms-item input{
    width: 97%;
}
.section-contact-forms input{
    border: none;
    outline: none;
    border-bottom: 1px solid #6d7981;
    margin-top: 22px;
    background-color: inherit;
    color: white;
    padding: 10px;
}
.section-contact-forms input::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #b1babf;
}
.section-contact-forms-message input{
    width: 97%;
    padding-bottom: 85px;
}
.section-contact-forms-button button{
    margin-top: 35px;
    width: 244px;
    height: 53px;
    border: 0;
    background-color: #21ecde;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000000;
    transition-duration: 200ms;
}
.section-contact-forms-button button:hover{
    background-color: #acf8f4;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}
/*section-contact ends*/



/*section-footer*/
.section-footer{
    background-color: #262b2e;
    height: 315px;
    overflow: hidden;
}
@media screen and (max-width: 1200px){
    .section-footer{
        height: 240px;
    }
}
.section-footer-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-footer-title{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #d4d5d5;
}
.section-footer-links{
    margin-top: 18px;
    width: 205px;
    display: flex;
    justify-content: space-between;
}
.section-footer-links a{
    font-size: 0;
    transition: 400ms;
}
.section-footer-links a:hover{
    transform: scale(1.1);
}
/*section-footer ends*/


.popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
}
.popup-open{
    display: block;
}

.popup-body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

@media screen and (max-width: 1028px){
    .popup-body{
        align-items: center;
        padding: 0;
    }
}
.popup-image{
    min-width: 80%;
    max-height: calc(100vh - 60px);
}
@media screen and (max-width: 375px){
    .popup-image img{
        width: 80%;
    }
}
@media screen and (min-width: 1250px){
    .popup-image {
        min-width: 70%;
    }
}
@media screen and (min-width: 1400px){
    .popup-image {
        min-width: 60%;
    }
}

.popup-image img{
    min-width: 100%;
    max-height: 100%;
}