html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

/*section-header*/
.header {
    display: block;
    overflow: hidden;
    min-height: 568px;
    max-height: 100vh;
    background-color: #eff0f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
@media screen and (max-width: 1024px){
    .header {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .header {
        font-size: 16px;
    }
}
@media screen and (max-width: 512px){
    .header {
        font-size: 14px;
    }
}
.header__logo {
    box-sizing: border-box;
    width: 113px;
    height: 43px;
    margin-top: 3.25em;
    margin-left: 11%;
    border: 5px solid;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo .capital-letter{
    color: #b2f2ee;
    font-size: 130%;
}

.header__description {
    text-align: center;
    font-weight: 700;
    margin: 13% 0.24em 0;
    color: #505050;
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    text-shadow: 3.5px 8px 6px #cbccce;
}
.header__description .text-font {
    background-color: #b2f2ee;
    padding: 0 0.22em;
    margin: 0 -0.22em;
    text-shadow: 3px 5px 5px #99d0cc;
}
@media screen and (max-width: 515px){
    .header__description{
        line-height: 130%;
    }
}

.header__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9% auto 0;
}
.header__contact  .btn{
    box-sizing: border-box;
    width: 232px;
    height: 53px;
    font-size: 17px;
    color: #505050;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 3px;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 300ms;
}
@media screen and (max-width: 550px){
    .header__contact .btn{
        width: 200px;
        height: 45px;
        font-size: 15px;
    }
    .header__logo{
        margin-top: 2em;
    }
}
.header__contact .btn:hover{
    cursor: pointer;
    background-color: #21ecde;
}

.header__image {
    margin-left: 74%;
    margin-top: -2%;
    margin-bottom: 10%;
}
@media screen and (max-width: 768px){
    .header__image{
        margin: 7% 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*section-header ends*/


.main-content{
    overflow: hidden;
    font-size: 24px;
}
@media screen and (max-width: 1024px) {
    .main-content{
        font-size: 21px;
    }
}
@media screen and (max-width: 768px) {
    .main-content{
        font-size: 19px;
    }
}
@media screen and (max-width: 512px) {
    .main-content{
        font-size: 17px;
    }
}

/*common styles*/
.main-content__title-block{
    margin: 8% 10px 0 10px;
    text-align: center;
}
.main-content__title-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.575em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.main-content__title-description{
    margin: 0.42em 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    color: #5e5f5f;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.065em;
}
/*common styles*/

/*section-about*/
.main-content .about{
    background-color: #f8fafa;
    display: flex;
    flex-direction: column;
}
.about .about__content{
    margin: 10% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 8%;
    row-gap: 1.66em;
}
.about .about__content-image{
    max-width: 100%;
    box-shadow: 1px -2px 20px #cccccc;
}
@media screen and (max-width: 1047px){
    .about .about__content{
        column-gap: 2%;
    }
}
.about .about__content-title{
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.83em;
    color: #3e3f3f;
}
.about .about__content-text{
    font-size: 0.85em;
    margin-top: 1.11em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.56em;
    color: #6e6f6f;
}
.about .about__content-text span{
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    display: block;
}
@media screen and (max-width:503px)  {
    .about .about__content-text br{
        display: none;
    }
}
/*section-about ends*/

/*section-works*/
.main-content .works{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.works .works__content{
    margin: 9% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0.58em;
}
.works .works__content img{
    max-width: 100%;
    transition: 400ms;
}
@media screen and (min-width: 540px) and (max-width: 776px){
    .works .works__content img {
        max-width: 250px;
    }
}
@media screen and (min-width: 950px) and (max-width: 1170px) {
    .works .works__content img {
        max-width: 300px;
    }
}
.works .works__content img:hover{
    transform: scale(1.03);
    cursor: pointer;
}
/*section-works ends*/


/*section-team*/
.main-content .team{
    background-color: #f9fbfb;
    display: flex;
    flex-direction: column;
}
.team .team__content{
    margin: 10% 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0.83em;
}
.team__content .worker-item{
    font-size: 0;
}
.worker-item .worker-item__image{
    max-width: 100%;
}
@media screen and (min-width: 1000px) and (max-width: 1170px){
    .worker-item .worker-item__image{
        max-width: 310px;
    }
}
@media screen and (min-width: 600px) and (max-width: 776px){
    .worker-item .worker-item__image{
        max-width: 280px;
    }
}
.worker-item .worker-item__info{
    font-size: 20px;
    position: absolute;
    padding: 1.6em;
    box-sizing: border-box;
    background-color: #21ecde;
    border-radius: 0.3em;
    max-height: 55%;
    left: 0.8em;
    right: 0.8em;
    bottom: 0.6em;
    opacity: 0;
    visibility: hidden;
}
@media screen and (max-width: 1170px){
    .worker-item .worker-item__info{
        font-size: 18px;
    }
}
@media screen and (max-width: 777px){
    .worker-item .worker-item__info{
        font-size: 16px;
    }
}
.worker-item .worker-item__info::before,
.worker-item .worker-item__info::after {
    content: '';
    position: absolute;
    left: 1.25em;
    top: -1em;
    border: 0.5em solid transparent;
    border-bottom: 0.5em solid #21ecde;
}
.worker-item .worker-item__name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: #2a3131;
    text-transform: uppercase;
}
.worker-item .worker-item__name span{
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 0.9em;
    color: #767776;
}
.worker-item .worker-item__description{
    margin-top: 1.2em;
    font-family: 'Raleway', sans-serif;
    line-height: 150%;
    font-weight: 400;
    font-size: 0.8em;
    color: #16312f;
}
.worker-item .worker-item__links{
    margin-top: 1.6em;
    display: flex;
    width: 5em;
    height: 1em;
    justify-content: space-between;
    align-items: center;
}
.worker-item .worker-item__links img{
    height: 0.65em;
    transition-duration: 300ms;
}
.worker-item .worker-item__links img:hover{
    transform: scale(1.4);
}
.worker-item:hover .worker-item__info{
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.worker-item:hover{
    transform: scale(1);
}
/*section-team ends*/

@media screen and (min-width: 1544px){
    .team .team__content,
    .works .works__content{
        margin: 10% 100px;
    }
}

/*section-contact*/
.main-content .contacts{
    background: url("bg-image.png") no-repeat, #f9fbfb 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
@media screen and (max-width: 1024px) {
    .main-content .contacts{
        font-size: 21px;
    }
}
@media screen and (max-width: 768px) {
    .main-content .contacts{
        font-size: 19px;
    }
}
@media screen and (max-width: 512px) {
    .main-content .contacts{
        font-size: 17px;
    }
}
.contacts .contacts__content{
    margin: 3em 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:1em;
}
@media screen and (min-width: 512px) and (max-width:854px){
    .contacts .contacts__content{
        margin: 3.7em 10%;
    }
}
@media screen and (max-width: 854px){
    .contacts .contacts__content{
        flex-direction: column;
    }
}
.contacts .contacts__form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0.65em 1.25em;
    min-width:43.5%;
    background-color: rgba(2, 22, 35,0.7);
}
.contacts .contacts__info{
    box-sizing: border-box;
    padding: 1.6em 1.1em;
    min-width: 35.4%;
    background-color: rgba(2, 22, 35,0.7);
}
@media screen and (max-width:1176px) {
    .contacts .contacts__form{
        min-width: 52%;
    }
    .contacts .contacts__info{
        min-width: 43%;
    }
}
.contacts .contacts__info address{
    color: #b1babf;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.71em;
    font-style: normal;
    line-height: 1.41em;
}
.contacts .contacts__info address a{
    color: #b1babf;
}
#map{
    width: 100%;
    margin-top: 0.9em;
    height: 9.6em;
    opacity: 1;
}
.contacts .contacts__form-input{
    border: none;
    outline: none;
    font-size: 0.7em;
    border-bottom: 1px solid #6d7981;
    margin-top: 1.28em;
    background:transparent;
    color: white;
    padding: 0.58em;
    width: 97%;
}
.contacts .contacts__form-input::placeholder{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 0.89em;
    color: #b1babf;
}
.non-resize{
    resize: none;
}
.contacts .contacts__form-btn{
    font-size: 0.75em;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 13.5em;
    height: 2.94em;
    border: 0;
    background-color: #21ecde;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    color: #000000;
    transition-duration: 200ms;
}
.contacts .contacts__form-btn:hover{
    background-color: #acf8f4;
    letter-spacing: 2px;
    cursor: pointer;
}
/*section-contact ends*/


/*section-footer*/
.footer{
    background-color: #262b2e;
    height: 315px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1200px){
    .footer{
        height: 240px;
    }
}
@media screen and (max-width: 1024px){
    .footer{
        height: 180px;
    }
}
.footer .footer__content{
    text-align: center;
}
.footer .footer__title{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #d4d5d5;
}
@media screen and (max-width: 768px){
    .footer .footer__title{
        font-size: 14px;
    }
}
.footer .footer__links{
    margin-top: 18px;
    width: 205px;
    display: flex;
    justify-content: space-between;
}
.footer .footer__links a{
    font-size: 0;
    transition: 200ms;
}
.footer .footer__links a:hover{
    background-color:  #21ecde;
    transform: scale(1.05);
}
/*section-footer ends*/


.popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
}
.popup-open{
    display: block;
}
.popup-body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.popup-image{
    min-width: calc(100vmin - 20px);
    max-height: calc(100vmax - 20px);
    font-size: 0;
}
@media screen and (max-width: 390px){
    .popup-image img{
        width: 80%;
    }
}
.popup-image img{
    min-width: 100%;
    max-height: 100%;
}